.col-md-5 {

    margin: auto;
}

.col-xs-12
{
    margin: auto;
}

#year {

    margin-left: 58px;
}

.list {

    max-height: 200px;
    overflow-y: scroll !important;
}

.carousel-prev {

    margin-left: -50px;
    margin-top: -100px;
}

.carousel-next {

    margin-right: -50px;
    margin-top: -100px;
}

#mainContent {

    text-align: center;
}

#recipeCarousel, #mostPlayedCarousel {

    margin-right: auto;
    margin-left: auto;
}

#mostPlayedCarousel {

    margin-top: 10px;
}

#songName {

    margin-top: 5px;
    width: 90%;
    text-align: center;
}

#songName span {

    color: white;
    height: 20px;
    font-size: 14px;
    overflow-y: scroll;
}

.addToPlaylist {

    margin-top: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.addToPlaylist:hover {

    color: rgb(0, 127, 246) !important;
    transition: all 0.3s ease-in;
}

.img-fluid {

    width: 90%;
    margin: auto;
}

.form-group a {

    padding: 2px;
    width: 100%;
    margin: 1px auto;
    font-size: 12px !important;
}

#signupMessage {

    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

#footer {

    margin-top: -20px;
}

body {

    background: url("http://localhost:8080/beatify/resources/images/webimages/background9.jpg") !important;
}

.plyr {

    width: 100%;
    position: fixed !important;
    bottom: 0 !important;
    left: 0;
    right: 0;
}

.plyr__controls {

    color: white !important;
    background: rgb(52, 58, 64) !important;
}

.plyr__controls a {

    color: white;
    padding: 6px;
    transition: all 0.15s ease-in;
}

.plyr__controls a:hover {

    text-decoration: none;
    color: white;
    background-color: rgb(0, 127, 246);
    border-radius: 3px;
    padding: 6px;
    transition: all 0.15s ease-in ;
}

.track:hover {

    color: rgb(0, 127, 246);
    transition: all 0.15s ease-in ;
}

.track {

    background-color: transparent ;
    color: white;
    cursor: pointer;
    transition: all 0.15s ease-in ;
    padding: 6px;
    border-radius: 3px;
}

.fa-trash {

    color: black;
    border-radius: 4px;
    padding: 5px;
}

.fa-trash:hover {

    cursor: pointer;
    background-color: red;
    transition: all 0.1s ease-in;
}

.plyr__controls {

    height: 80px;
}

audio {
    display:none;
}

.form-group {

    margin-left: auto;
    margin-right: auto;
}

h3 {

    text-align: center;
}

#plwrap {

    max-height: 50%;
    box-sizing: content-box;
    overflow-y: scroll !important;
}

#tracks {
    font-size:0;
    position:relative;
    text-align:center;
    margin-top: 10px;
}

#plList li {
    cursor:pointer;
    display:block;
    border-radius: 5px;
    margin-right: 10px !important;
}

#plList li:hover {

    background-color:gray;
}

.plItem {
    left: 10px;
    position:relative;
    padding: 4px;
    margin: 2px;
}

.plTitle {
    left:-10px;
    overflow:hidden;
    position:absolute;
    right:65px;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.plNum {

    margin-left: -50px;
    padding-left: 1px;
    width:25px;
}

.plLength {
    padding-left:21px;
    position:absolute;
    right: 15;
}

.plSel,
.plSel:hover {
    background-color: rgb(0, 127, 246);
    color:#fff;
    cursor:default !important;
}

#tracks a {
    border-radius:3px;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-size:2rem;
    padding:10px;
    text-decoration:none;
    transition:background .3s ease;
}

#tracks a:last-child {
    margin-left:0;
}

#tracks a:hover,
#tracks a:active {
    background-color: rgb(0, 127, 246);
    color:#fff;
}

#albumSpec {

    color: white;
}


/* Plyr Overrides
================================================== */

.plyr--audio .plyr__controls {
    border:none;
    color:#fff;
    padding:20px 20px 20px 13px;
    width:100%;
}


/* Media Queries
================================================== */

@media only screen and (max-width: 320px) {

    .col-xl-6 {

        margin-left: auto;
    }

    #songInfo {

        width: auto;
    }

    .form-group {

        width: 70% !important;
    }

    .plyr__volume {

        left: 10%;
    }

    .plyr {

        width: auto !important;
        z-index: 9999999999999;
    }
    .add-bottom {

        width: auto;
    }

    .img img {

        height: 85px;
        width: 80px;
    }

    .img {

        margin: 0 auto;
    }

    #mainwrap {

        width: auto;
        margin-right: 5px;
    }

    .carousel-next, .carousel-prev {

        margin: 20px 50px;
    }

    #footer {

        margin-top: 10px;
    }

    .carousel-inner {

        margin-left: auto !important;
        margin-right: auto !important;
    }

    #recipeCarousel {
        text-align: center;
    }

    #home {

        margin-bottom: 55px !important;
        overflow: auto !important;
    }

    .plyr__controls {

        background: rgb(52, 58, 63) !important;
    }

    #loginFrame {

        height: 70%;
    }

    #songList {

        margin-bottom: 70px;
    }

    .duration {

        display: none !important;
    }

    .artistAlbum:hover, .bandMember:hover {

        color: rgb(0, 127, 246) !important;
        transition: all 0.2s ease-in;
        text-decoration: none;
    }

    #year, #albumYear {

        display: none;
    }
}

@media only screen and (min-width: 321px) and (max-width:599px) {

    .col-xl-6 {

        margin-left: auto;
    }

    #songInfo {

        width: auto;
    }

    .form-group {

        width: 70% !important;
    }

    .plyr__volume {

        left: 10%;
    }

    .plyr {

        width: auto !important;
        z-index: 9999999999999;
    }
    .add-bottom {

        width: auto;
    }

    .img img {

        height: 85px;
        width: 80px;
    }

    .img {

        margin: 0 auto;
    }

    #mainwrap {

        width: auto;
        margin-right: 5px;
    }

    .carousel-next, .carousel-prev {

        margin: 20px 50px;
    }

    #footer {

        margin-top: 10px;
    }

    .carousel-inner {

        margin-left: auto !important;
        margin-right: auto !important;
    }

    #recipeCarousel {
        text-align: center;
    }

    #home {

        margin-bottom: 55px !important;
        max-height: auto !important;
        overflow: auto !important;
    }

    .plyr__controls {

        background: rgb(52, 58, 63) !important;
    }

    #loginFrame {

        height: 70%;
    }

    #songList {

        margin-bottom: 70px;
    }

    .duration {

        display: none;
    }

    .artistAlbum:hover, .bandMember:hover {

        color: rgb(0, 127, 246) !important;
        transition: all 0.2s ease-in;
        text-decoration: none;
    }
}

@media only screen and (min-width:600px) and (max-width: 799px){

    .add-bottom {

        margin-left: 140px !important;;
        margin-right: auto !important;;
    }

    .col-xl-6 {

        margin-left: auto;
        margin-right: auto;
    }

    .carousel-next, .carousel-prev {

        margin: 20px 50px;
    }

    #info {

        width: 100%;
    }

    #footer {

        margin-top: 10px;
    }

    .carousel-inner {

        margin-left: auto !important;
        margin-right: auto !important;
    }

    #recipeCarousel {

        text-align: center;
    }

    #home {

        margin-bottom: 55px !important;
        max-height: auto !important;
        overflow: auto !important;
    }

    #loginFrame {

        height: 70%;
    }

    .plyr {

        z-index: 9999999999999;
    }

    #songList {

        margin-bottom: 70px;
    }

    .artistAlbum:hover, .bandMember:hover {

        color: rgb(0, 127, 246) !important;
        transition: all 0.2s ease-in;
        text-decoration: none;
    }
}

@media only screen and (min-width: 800px) and (max-width: 999px) {

    .add-bottom {

        margin-left: 140px !important;;
        margin-right: auto !important;;
    }

    .col-xl-6 {

        width: 50% !important;
    }

    #info {

        width: 100%;
    }

    #songList {

        padding-left: 60px;
    }

    .plyr {

        z-index: 9999999999999;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1111px) {

    .add-bottom {

        margin-left: 140px !important;;
        margin-right: auto !important;;
    }

    .col-xl-6 {

        width: 50% !important;
    }

    #info {

        width: 100%;
    }

    .plyr {

        z-index: 9999999999999;
    }
}

@media only screen and (min-width: 1112px){

    .add-bottom {

        margin-left: 140px !important;;
        margin-right: auto !important;;
    }

    .col-xl-6 {

        width: 50% !important;
    }

    #info {

        width: 100%;
    }

    .plyr {

        z-index: 9999999999999;
    }
}

@media only screen and (max-width: 768px) {

    #loginFrame {

        height: 70%;
    }

    .plyr {

        z-index: 9999999999999;
    }
}