.col-xs-12
{
    margin: auto;
}

.col-md-5 {

    margin: auto;
}

.forget {

    color: white;
    transition: all 0.2s ease-in;
}

.forget:hover {

    color: rgb(0, 127, 246);
    transition: all 0.2s ease-in;
    text-decoration: none;
}

.list {

    max-height: 200px;
    overflow-y: scroll !important;
}

body {

    background: url('http://localhost:8080/beatify/resources/images/webimages/background9.jpg');
}

#firstTab, #secondTab {

    margin-left:  auto;
    margin-right: auto;
    color: white;
}

#footer {

    bottom: 8px !important;
}

.tabbable {

    padding-top: 20px;
}

.state label {

    color: white;
}

#login-form input {

    text-align:  center;
}

#login h2 {
    font-size: 23px !important;
}