body {

    font-family: 'Cabin', cursive !important;
}

.nice-select {

    margin-top: 5px;
}

.navbar-brand {
    font-family: 'Pacifico', cursive !important;
    font-size: 30px !important;
}

.artistAlbum, .bandMember {

    color: white;
    transition: all 0.2s ease-in;
}

.artistAlbum:hover, .bandMember:hover {

    color: black;
    transition: all 0.2s ease-in;
    text-decoration: none;
}

.navbar-brand a {

    color: white !important;
}

.artistTitle:hover, .genreTitle:hover, #wikiLink:hover, .navbar-brand a:hover {

    text-decoration: none;
}

.fa-square {

    width: 1%;
    margin-left: 6px;
    margin-right: 6px;
    color: #535353;
    font-size: 12px;
}

.navbar .nav-item {

    padding: 0 50px;
}

#navbarLinks .nav-item .nav-link {

    border-radius: 4px;
}

#navbarLinks .nav-item .nav-link:hover {

    background-color: rgb(0, 127, 246);
    transition: all 0.2s ease-in;
}

#firstTab, #secondTab {

    padding: 0;
}

.nav-pills {

    padding: 0;
}

.modal-body input {

    text-align: center;
}

#login {

    padding-top: 30px;
}

#login .form-wrap {

    margin: 0 auto;
}
#login h2 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}

#login .btn.btn-custom {
    font-size: 14px;
    margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
    text-align: center;
    display: block;
}

.modal-footer {

    text-align: center;
}

.modal-footer button, a {

    margin: auto;
}

.form-control {
    color: #212121;
}

#footer {

    bottom: 82px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    font-size: 12px;
    text-align: center;
}

#mainContent {

    margin-top: 90px;
}

#recipeCarousel {

    margin-top: 10px;
}

h4 {

    font-weight: 100;
    text-shadow: 1px 1px gray ;
    color: white !important;
    margin-left: auto;
    margin-right: auto;
}

#footer p {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {

    #lastName {

        margin-top: 7px;
    }

    #navbarLinks .nav-item .nav-link {

        width: 50%;
    }

    #userlogin {

        margin-top: 2px;
    }
}

/* Spinner Styles */
#loadFacebookG{
    width:125px;
    height: 125px;
    display: block;
    position: relative;
    margin:auto;
}

#loadFacebookG {

    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    margin-left: -50px;
    margin-top: -50px;
}

.facebook_blockG {

    border: none !important;
}

.facebook_blockG{
    background-color:rgb(255,255,255);
    border:3px solid rgb(0,0,0);
    float:left;
    height:89px;
    margin-left:7px;
    width:23px;
    opacity:0.1;
    animation-name:bounceG;
    -o-animation-name:bounceG;
    -ms-animation-name:bounceG;
    -webkit-animation-name:bounceG;
    -moz-animation-name:bounceG;
    animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    transform:scale(0.7);
    -o-transform:scale(0.7);
    -ms-transform:scale(0.7);
    -webkit-transform:scale(0.7);
    -moz-transform:scale(0.7);
}

#blockG_1{
    animation-delay:0.45s;
    -o-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -moz-animation-delay:0.45s;
}

#blockG_2{
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
}

#blockG_3{
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}



@keyframes bounceG{
    0%{
        transform:scale(1.2);
        opacity:1;
    }

    100%{
        transform:scale(0.7);
        opacity:0.1;
    }
}

@-o-keyframes bounceG{
    0%{
        -o-transform:scale(1.2);
        opacity:1;
    }

    100%{
        -o-transform:scale(0.7);
        opacity:0.1;
    }
}

@-ms-keyframes bounceG{
    0%{
        -ms-transform:scale(1.2);
        opacity:1;
    }

    100%{
        -ms-transform:scale(0.7);
        opacity:0.1;
    }
}

@-webkit-keyframes bounceG{
    0%{
        -webkit-transform:scale(1.2);
        opacity:1;
    }

    100%{
        -webkit-transform:scale(0.7);
        opacity:0.1;
    }
}

@-moz-keyframes bounceG{
    0%{
        -moz-transform:scale(1.2);
        opacity:1;
    }

    100%{
        -moz-transform:scale(0.7);
        opacity:0.1;
    }
}

